.dot {
  display: none !important;
}

.carousel-slider .control-arrow {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: calc(50% - 0.5rem) !important;
  background-color: gray !important;
}

.carousel .control-next.control-arrow:before {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.carousel .control-prev.control-arrow:before {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.thumbs-wrapper > .control-arrow {
  width: 0.5rem;
  height: 80%;
  top: 1rem;
  background-color: gray !important;
}
